<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-header">List of courses</div>
      <div class="card-body">
        <form th:action="@{index}" method="get">
          <label>keyword</label>
          <input type="text" name="keyword" th:value="${keyword}">
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <table class="table">
          <thead>
            <tr class="text-center">
              <th>Course Id</th>
              <th>Course Name</th>
              <th>Course Duration</th>
              <th>Course Description</th>
              <th>Instructor</th>
              <th>Number of Participants</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" th:each="course : ${listCourses}">
              <td th:text="${course.getCourseId()}"></td>
              <td th:text="${course.getCourseName()}"></td>
              <td th:text="${course.getCourseDuration()}"></td>
              <td th:text="${course.getCourseDescription()}"></td>
              <td
                      th:text="${course.getInstructor().getFirstName()} + ' ' + ${course.getInstructor().getLastName()}"></td>
              <td th:text="${course.getStudents().size()}"></td>
              <td>
                <a class="btn btn-danger" onclick="return confirm('Are you sure?')"
                   th:href="@{/courses/delete(courseId=${course.getCourseId()}, keyword=${keyword})}">
                  Delete
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>