<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-6 offset-3 mt-3">
        <form th:action="@{save}" class="form-control" method="post">

            <div class="mb-3 mt-3">
                <label class="form-label">Course Name</label>
                <input type="text" id="courseName" name="courseName" class="form-control"
                       th:field="${course.getCourseName()}">
            </div>

            <div class="mb-3 mt-3">
                <label class="form-label">Course Duration</label>
                <input type="text" id="courseDuration" name="courseId" class="form-control"
                       th:field="${course.getCourseDuration()}">
            </div>

            <div class="mb-3 mt-3">
                <label class="form-label">Course Description</label>
                <input type="text" name="courseDescription" class="form-control"
                       th:field="${course.getCourseDescription()}" readonly="readonly">
            </div>

            <div class="mb-3 mt-3">
                <label class="form-label">Instructor</label>
                <select th:field="${course.instructor}" name="instructor" class="form-select">
                    <option th:each="instructor : ${listInstructors}"
                            th:text="${instructor.getFirstName()} + '' + ${instructor.getLastName()}"
                            th:field="${instructor.getInstructorId()}">

                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
</body>
</html>